
.icon{
    width: 48px;
    height: 48px;
}

.logo{
    width: 70px;
    height: 70px;
}

.header{
    display: flex;
    justify-content: space-between;
}

.nav__bar{
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.nav__barElem{
    text-align: center;
    text-decoration: none;
}

